/* html{
  height: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #EAE7E2, #EAE7E2);
  min-height: 100vh;
}

h3{
  color: #2a2727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  background-color: transparent;
  appearance: none;
  border: 1px solid #2a2727;
}
label{
  color: #2a2727;
}
